/**
* 1. Select2
*/
.select2-container--default .select2-selection--single .select2-selection__rendered {
    background-color: #ffffff !important;
    padding: 2px 30px 3px 15px;
}

.select2-container--default .select2-selection--single {
    height: 35px;
    border-radius: 2px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 4px;
    right: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444 !important;
}

/**
* 2. Menú
*/
.pcoded-navbar{
    width: 258px;
}

.main-menu{
    width: 258px;
}

.pcoded[theme-layout="vertical"][vertical-placement="left"][vertical-nav-type="expanded"][vertical-effect="shrink"] .pcoded-content{
    margin-left: 258px;
    right: 22px;
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .main-menu {
    background-color: #fff;
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item>li>a {
    color: #000;
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item li.pcoded-hasmenu .pcoded-submenu li>a {
    border-bottom-color: #ffffff;
    color: #000;
}
.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item > li.pcoded-hasmenu.pcoded-trigger .pcoded-submenu li.pcoded-hasmenu.pcoded-trigger > a::after, .pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item > li.pcoded-hasmenu.pcoded-trigger > a::after {
    color: rgb(0, 0, 0);
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item > li.pcoded-hasmenu .pcoded-submenu li.pcoded-hasmenu > a::after, .pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item > li.pcoded-hasmenu > a::after {
    color: rgb(0, 0, 0);
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item > li.pcoded-hasmenu .pcoded-submenu li.pcoded-hasmenu > a::before, .pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item > li.pcoded-hasmenu > a::before {
    color: rgb(0, 0, 0);
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item>li.pcoded-hasmenu:hover>a:after {
    color: #000;
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item>li.pcoded-hasmenu .pcoded-submenu li.pcoded-hasmenu:hover>a:after {
    color: #000;
}

.pcoded-item.pcoded-left-item>li>a>.pcoded-micon, .pcoded[nav-type="st2"] .pcoded-item.pcoded-left-item>li>a>.pcoded-micon {
    color: #222 !important;
}

.input-group-addon {
    background-color: #868e96;
    color: #fff;
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item>li.active>a {
    color: #007bff;
    border-bottom-color: #007bff;
}

.pcoded .pcoded-header[header-theme="theme5"] {
    background: #4099ff;
}

.width-continer {
    width: 210px;
}

.justify-label-continer {
    margin-top: -26px;
    margin-bottom: 0rem;
    margin-left: 36px;
}

/**
* 3. Data Table
*/
.dataTables_paginate.paging_simple_numbers {
    margin-top: -30px !important;
}

.table.dataTable {
    margin-top: 0px !important;
}

.table th {
    padding: 5px;
}

.table td {
    padding: 3px;
}

.table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    top: 3px;
}

.table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    top: 3px;
}

.dataTables_scrollBody thead tr {
    visibility: hidden;
}

.table thead tr {
    height: 0px !important;
}

.description {
    width: 50% !important;
    white-space: normal !important;
}

/**
* 4. Seccionamiento de filtros
*/
.panel-filters {
    background-color: #F4F4F5;
    padding: 7px 10px 1px 10px  !important;
}

/**
* 5. Multi Select
*/
.ms-container {
    width: 100% !important;
}

.ms-container .ms-optgroup-label {
    color: #000 !important;
    font-weight: 700;
}

/**
* 6.Tab configuracion general
*/
.div-tab{
    margin-top: -64px;
    margin-left: 0px;
}

/**
* 7.Dropdown
*/
.dropdown-toggle::after {
    display: none;
    width: 0;
    height: 0;
    margin-left: 0;
    vertical-align: 0;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}

.btn i {
    margin-right: 0px;
}

.item-dropdown {
    padding: 10px;
}