.background-dashboard {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../GradientAble/files/assets/images/background.png");
    background-size: cover;
}


  