#pcoded .bg-primary {
    background-color: #ffffff !important;
}

#pcoded .common-img-bg {
    background: #ffffff !important;
}

.auth-box {
    box-shadow: none !important;
    border: 1px solid rgba(0,0,0,0.16);
}

.logo-login {
    margin-top: -60px;
}

.avatar-login {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
}

.title-header {
    color: #ffffff; 
    font-size: 16px; 
    font-weight: 500;
}

.login-center {
    margin-top: 0 !important;
}

.title-carousel {
    bottom: 150px !important;
    left: 10% !important;
    padding-bottom: 380px !important;
}

.title-carousel h1 {
    font-size: 64px;
    font-family: "Poppins",sans-serif;;
}

.subtitle-carousel {
    bottom: 100px !important;
    padding-bottom: 280px !important;
}

.subtitle-carousel p {
    font-size: 20px;
    font-family: "Poppins",sans-serif;;
}

.text-corousel {
    bottom: 150px !important;
    padding-bottom: 120px !important;
    
}

.text-corousel p {
    font-size: "Poppins",sans-serif;
}

.button-carousel {
    bottom: 150px !important;
    padding-bottom: 10px !important;
}


@media (width: 1024px) {
	.qm_mobile-slider {
		height: 50px;
        display: none;
    } 
	
	.qm_mobile-login {
		position: fixed !important;
		margin-top: 0px !important;
		margin-left: 20%;
	}
}

@media (min-width: 769px) and (max-width: 1023px) {
	.qm_mobile-slider {
		height: 50px;
        display: none;
    } 
	
	.qm_mobile-login {
		position: fixed !important;
		margin-top: 40px !important;
	}
}

@media (min-width:601px) and (max-width: 768px) {
	
    .qm_mobile-slider {
		height: 50px;
        display: none;
    }
	
	.qm_mobile-login {
		position: fixed !important;
		margin-top: 40px !important;
		height: 300px;
		overflow-y: auto;
	}
}

@media (max-width:600px) {
	.qm_mobile-slider {
		height: 90px;
        display: none;
    } 	
	
	.qm_mobile-login {
		position: fixed !important;
		margin-top: 100px !important;
	}
}