/**
* 3. Input Tabledit
*/
.input-edit{
    pointer-events:none;
    color:#AAA;
    background:#F5F5F5;
    width: 100%;
}

.form-control:disabled, .form-control[readonly] {
    background-color: rgb(235, 235, 228);
    opacity: 1;
    border-color: rgba(84, 84, 84, 0.51);
}

.size-column {
    width: 20% !important;
    word-break: break-word !important;

}
/**
* 4. Tabledit
*/
td.size-column {
    white-space: normal;
}


.table th {
    padding: 5px;
}
 
.table td {
    padding: 5px;
}
.table tr {
    height :15px;
}

.boton-sm {
    padding: 12px 12px;
    line-height: 10px;
    margin-left: -12px;

}
.boton-xs {
    padding: 7px 11px;
    line-height: 32px;
}

.btn i.justify-position {
     margin-right: 0px; 
}

.tableFixHead    { overflow-y: auto; height: auto; }
.tableFixHead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }

br {
    display: block;
    margin: 7px 0;
    line-height:22px;
    content: " ";
}

.position-static {
    position: static;

}

div.dt-buttons {
    position: static;
}

button.dt-button, div.dt-button, a.dt-button {
    position: static;
}
/*div lote*/
.width-input
{
    width: auto;
    height: 35px;
}
.btn-toolbar {
    justify-content: center;
}
.btn-group .btn {
    font-size: smaller;
}

/*Select Tabla editable*/
.select-tabledit{
    width: 130px;
}

/*Inputs Tabla editable*/
.width-input-disabled{
    width: auto;
}
/*th tabla editable*/
.width-th{
    width: 5%;
}
/*Posicion estatica botones tabla editable*/
.btn-toolbar {
    position: static;
}
div.btn-group {
    position: static;
}
div.btn-group .btn {
    position: static;
}
.input-group span {
    width: 39px;
}
/*Boton Guardar tabla editable*/
.table button {
    padding: 5px 8px;
    height: 28px;
    margin: 2px;
}
.input-group a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.color_span {
    color: red;
}
.input-group {
    margin-bottom: 0;
}

.btn:disabled {
    opacity: unset; 
}
